.u-center-text { text-align: center; }

.u-margin-bxxs { margin-bottom: .2rem; }
.u-margin-bxs { margin-bottom: 1rem; }
.u-margin-bs { margin-bottom: 1.7rem; }
.u-margin-bm { margin-bottom: 2.5rem; }
.u-margin-bl { margin-bottom: 4rem; }
.u-margin-bxl { margin-bottom: 8rem; }