@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300&display=swap');
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: #1d2d5e;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

button {
  border: none;
  color: unset;
}

ul {
  list-style: none;
}

.btn {
  padding: 1.5rem 2.5rem;
  margin: 2rem;
  border-radius: 3px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bxxs {
  margin-bottom: 0.2rem;
}

.u-margin-bxs {
  margin-bottom: 1rem;
}

.u-margin-bs {
  margin-bottom: 1.7rem;
}

.u-margin-bm {
  margin-bottom: 2.5rem;
}

.u-margin-bl {
  margin-bottom: 4rem;
}

.u-margin-bxl {
  margin-bottom: 8rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
}
.btn--white {
  background-color: #fff;
  color: #e8ebed;
}
.btn--white::after {
  background-color: #fff;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: -1;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  color: #57b962;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3rem 1.3rem;
  border-bottom: 1px solid #57b962;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.6rem;
}
.btn-text:hover {
  background-color: #57b962;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #57b962;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #57b962);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  background-color: orangered;
  color: #fff;
  font-size: large;
  height: 50rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #1d2d5e);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #57b962);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #f18958);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.row {
  max-width: 96rem;
  width: 96rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.section-about {
  background-color: #e8ebed;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(87, 185, 98, 0.8),
    rgba(87, 185, 98, 0.8)
  );
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  background-color: #e8ebed;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}

/*# sourceMappingURL=globals.css.map */
